name: numbers
description: Numbers - Flutter Samples
author: Ulugbek Isroilov<inulugbek@gmail.com>

version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  provider: ^3.2.0
  http: ^0.12.0+2

dev_dependencies:
  flutter_test:
    sdk: flutter


flutter:
  uses-material-design: true